name: OIDC Workflow
on:
  workflow_dispatch:
    inputs:
      audience:
        description: The aud claim
        required: true

permissions:
  id-token: write

jobs:
  print:
    name: Print OIDC Token
    runs-on: ubuntu-latest
    steps:
      - name: Set up ID token
        uses: actions/github-script@v6
        id: id-token
        env:
          AUDIENCE: ${{ inputs.audience }}
        with:
          debug: true
          result-encoding: string
          script: |
            return await core.getIDToken(process.env.AUDIENCE);
      - name: Print ID token in base64
        run: |
          base64 <<< '${{ steps.id-token.outputs.result }}'
