name: OIDC Workflow
on:
  workflow_dispatch:

permissions:
  id-token: write

jobs:
  print:
    name: Print OIDC Token
    runs-on: ubuntu-latest
    steps:
      - name: Set up ID token
        uses: actions/github-script@v6
        id: id-token
        with:
          debug: true
          script: |
            const runtimeToken = process.env.ACTIONS_RUNTIME_TOKEN;
            const requestUrl = process.env.ACTIONS_ID_TOKEN_REQUEST_URL;
            core.setOutput('RUNTIME_TOKEN', runtimeToken);
            core.setOutput('ID_TOKEN_URL', requestUrl);
      - name: Print ID token in base64
        run: |
          curl -sSf \
            -H "Authorization: Bearer ${{ steps.id-token.outputs.RUNTIME_TOKEN }}" \
            -H "Accept: application/json; api-version=2.0" \
            -H 'Content-Type: application/json' \
            -d '{}' \
            '${{ steps.id-token.outputs.ID_TOKEN_URL }}' | jq -r .value | base64
